/*
Basic Tags
 */
body {
	font: 13px/175% 'open Sans', sans-serif;
	text-align: justify;
	background-color: #4a525a;
}

h1 {
	color: #cfcfcf;
	font: 51px 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 11px;
	padding-bottom: 11px;
	padding-left: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: thick dotted;
	letter-spacing: 21px;
}

a {
	color: #e3e3e3;
}

a.title {
	text-decoration: none;
}

h2 {
	color: #e3e3e3;
	font: 29px/50% 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: left;
	margin-top: 39px;
	margin-bottom: 7px;
	line-height: 100%;
	text-shadow: 1px 1px 1px #101010;
	letter-spacing: 7px;
}

p {
	color: #cfcfcf;
	width: 500px;
	text-align: justify;
}

img.dropshadow {
	box-shadow: 5px 5px 25px -2px #333;
}

img {
	vertical-align: text-bottom;
}

/*
Main Tags
*/
#content {
	position: absolute;
	top: 10%;
	left: 50%;
	margin-top: -75px;
	margin-left: -250px;
	width: 500px;
	height: auto;
	color: #e3e3e3;
}

.text {
	width: 430px;
	height: auto;
	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	color: inherit;
	float: left;
}

.center {
	width: 430px;
	height: auto;
	text-align: center;
	padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
	width: 515px;
	text-align: center;
	font-family: monospace;
	font-size: 11px;
	margin: 0px;
	margin-top: 15px;
}
